[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=etcd.service
Wants=etcd.service


[Service]
EnvironmentFile=/home/yaoyuquan/kubernetes-config/apiserver
ExecStart=/home/yaoyuquan/kubernetes-exec/kube-apiserver $KUBE_API_ARGS
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target